<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
		<h2>Detail Message</h2>
		<table class="tbl_list">
			<tbody>
				<tr>
					<td>
						<input type="text" name="boardTitle"
							placeholder="글 제목" readonly th:value="${board.boardTitle}">
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="boardWriter"
							readonly th:value="${board.boardWriter}">
					</td>
				</tr>
				<tr>
					<td>
						<textarea rows="5" cols="50" name="boardContent"
								 readonly th:text="${board.boardContent}" ></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="boardHits"
							readonly th:value="'조회수: ' + ${board.boardHits}">
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="CreatedDate"
							readonly th:value="${board.createdDate}">
					</td>
				</tr>
				<tr>
					<td>
						<th:block th:if="${session.sessionName == board.boardWriter}">
							<a th:href="@{|/board/update/${board.id}|}">
								<input type="button" value="수정">
							</a>
						
							<a th:href="@{|/board/delete/${board.id}|}"
								onclick="return confirm('정말로 삭제하시겠습니까?')">
								<input type="button" value="삭제">
							</a>
						</th:block>
							<a th:href="@{/board/list}">
								<input type="button" value="목록">
							</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>